/build-osx
/build-win
/build
/.cache
/tester/build-osx
/tester/build
/tester/invalid-tests
/tester/valid-tests
/tester/.cache
/test/build-osx
/test/build
/test/invalid-tests
/test/valid-tests
/test/.cache
